// colors
.color-white {
  color: $white;
}

.color-gray-light {
  color: $graylight;
}

.color-gray-medium {
  color: $graymedium;
}

.color-gray-dark {
  color: $graydark;
}

.color-black {
  color: $black;
}

.color-primary {
  color: $primary;
}

.color-secondary {
  color: $secondary;
}

.color-tertiary {
  color: $tertiary;
}

.background-primary {
  background-color: $primary;
}

.background-secondary {
  background-color: $secondary;
}

.background-facebook {
  background-color: #3b5998;
}

.background-twitter {
  background-color: #00aced;
}

.background-whatsapp {
  background-color: #25d366;
}

.background-pinterest {
  background-color: #e60023;
}

.background-spotify {
  background-color: #1db954;
}

.background-tertiary{
  background-color: $tertiary;
}

.background-white {
  background-color: white;
}

.background-black {
  background-color: black;
}

.background-gray {
  background-color: $graylight;
}

.color-link {
  color: #2196f3;
}