.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: $container-padding;
  padding-left: $container-padding;
}

.row {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  margin-left: -$gutter-width;
  margin-right: -$gutter-width;
}

.col,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-12 {
  padding-left: $gutter-width;
  padding-right: $gutter-width;
}

.col {
  flex: 1 0;
}

.col-3 {
  width: (3 * (100%/12));
}

.col-4 {
  width: 33.3333333%;
}

.col-5 {
  width: (5 * (100%/12));
}

.col-6 {
  width: (6 * (100%/12));
}

.col-7 {
  width: (7 * (100%/12));
}

.col-8 {
  width: (8 * (100%/12));
}

.col-12 {
  width: (12 * (100%/12));
}

@if $responsive==true {
  .container {
    max-width: $container;
  }

  @media (max-width: $lg) {
    .col-lg-4 {
      width: (4 * (100%/12));
    }

    .col-lg-6 {
      width: (6 * (100%/12));
    }

    .col-lg-8 {
      width: (8 * (100%/12));
    }

    .col-lg-12 {
      width: (12 * (100%/12));
    }
  }

  @media (max-width: $md) {
    .col-md-4 {
      width: (4 * (100%/12));
    }

    .col-md-6 {
      width: (6 * (100%/12));
    }

    .col-md-8 {
      width: (8 * (100%/12));
    }

    .col-md-12 {
      width: (12 * (100%/12));
    }
  }
}

@if $responsive==false {
  .container {
    width: $container;
  }
}

.flex {
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.nowrap {
  flex-wrap: nowrap;
}

.start {
  text-align: start;
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.end {
  text-align: end;
  justify-content: flex-end;
}

.top {
  align-items: flex-start;
}

.middle {
  align-items: center;
}

.bottom {
  align-items: flex-end;
}

.between {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

.auto {
  flex: 1 auto;
}

.equal {
  flex: 1 0;
}

@media (max-width: $lg) {
  .mb-row {
    flex-direction: row;
  }

  .mb-column {
    flex-direction: column;
  }

  .mb-nowrap {
    flex-wrap: nowrap;
  }

  .mb-start {
    text-align: start;
    justify-content: flex-start;
  }

  .mb-center {
    justify-content: center;
  }

  .mb-end {
    text-align: end;
    justify-content: flex-end;
  }

  .mb-top {
    align-items: flex-start;
  }

  .mb-middle {
    align-items: center;
  }

  .mb-bottom {
    align-items: flex-end;
  }

  .mb-between {
    justify-content: space-between;
  }

  .mb-around {
    justify-content: space-around;
  }

  .mb-auto {
    flex: 1 auto;
  }

  .mb-equal {
    flex: 1 0;
  }
}
