// margin
.margin-right-xs {
  margin-right: $xs;
}

.margin-right-sm {
  margin-right: $sm;
}

.margin-right-md {
  margin-right: $md;
}

.margin-right-lg {
  margin-right: $lg;
}

.margin-right-xl {
  margin-right: $xl;
}

.margin-left-xs {
  margin-left: $xs;
}

.margin-left-sm {
  margin-left: $sm;
}

.margin-left-md {
  margin-left: $baseSize * 2;
}

.margin-left-lg {
  margin-left: $lg;
}

.margin-left-xl {
  margin-left: $xl;
}

.margin-bottom-xs {
  margin-bottom: $xs;
}

.margin-bottom-sm {
  margin-bottom: $sm;
}

.margin-bottom-md {
  margin-bottom: $md;
}

.margin-bottom-lg {
  margin-bottom: $lg;
}

.margin-bottom-xl {
  margin-bottom: $xl;
}

.margin-top-xs {
  margin-top: $xs;
}

.margin-top-sm {
  margin-top: $sm;
}

.margin-top-md {
  margin-top: $md;
}

.margin-top-lg {
  margin-top: $lg;
}

.margin-top-xl {
  margin-top: $xl;
}

.margin-bottom {
  > *:not(:last-child) {
    margin-bottom: $gutter;
  }
  margin-bottom: $gutter;
}

// padding
.padding-xs {
  padding: $xs;
}

.padding-sm {
  padding: $sm;
}

.padding-md {
  padding: $md;
}

.padding-lg {
  padding: $lg;
}

.padding-xl {
  padding: $xl;
}

.padding-vertical-xs {
  padding: $xs 0;
}

.padding-vertical-sm {
  padding: $sm 0;
}

.padding-vertical-md {
  padding: $md 0;
}

.padding-vertical-lg {
  padding: $lg 0;
}

.padding-vertical-xl {
  padding: $xl 0;
}

.padding-horizontal-xs {
  padding: 0 $xs;
}

.padding-horizontal-sm {
  padding: 0 $sm;
}

.padding-horizontal-sm {
  padding: 0 $sm;
}

.padding-horizontal-lg {
  padding: 0 $lg;
}

.padding-horizontal-xl {
  padding: 0 $xl;
}

.padding-rect-xs {
  padding: $xs $xs * 2;
}

.padding-rect-sm {
  padding: $sm $sm * 2;
}

.padding-rect-sm {
  padding: $sm $sm * 2;
}

.padding-rect-lg {
  padding: $lg $lg * 2;
}

.padding-rect-xl {
  padding: $xl $xl * 2;
}

// space

.space-rect-xs {
  > *:not(:last-child) {
    margin-right: $xs;
  }
}

.space-horizontal-sm {
  > *:not(:last-child) {
    margin-right: $sm;
  }
}

.space-horizontal-md {
  > *:not(:last-child) {
    margin-right: $md;
  }
}

.space-horizontal-lg {
  > *:not(:last-child) {
    margin-right: $lg;
  }
}

.space-horizontal-xl {
  > *:not(:last-child) {
    margin-right: $xl;
  }
}

.space-vertical-xs {
  > *:not(:last-child) {
    margin-bottom: $xs;
  }
}

.space-vertical-sm {
  > *:not(:last-child) {
    margin-bottom: $sm;
  }
}

.space-vertical-md {
  > *:not(:last-child) {
    margin-bottom: $gutter * 2;
  }
}

.space-vertical-lg {
  > *:not(:last-child) {
    margin-bottom: $lg;
  }
}

.space-vertical-xl {
  > *:not(:last-child) {
    margin-bottom: $xl;
  }
}

@media (max-width: $media-lg) {
  .mb-space-horizontal-0 {
    > *:not(:last-child) {
      margin-right: 0;
    }
  }

  .mb-space-vertical-xs {
    > *:not(:last-child),
    :first-child {
      margin-bottom: $xs;
    }
  }

  .mb-space-vertical-sm {
    > *:not(:last-child),
    :first-child {
      margin-bottom: $sm;
    }
  }

  .mb-space-vertical-md {
    > *:not(:last-child),
    :first-child {
      margin-bottom: $gutter * 2;
    }
  }

  .mb-space-vertical-lg {
    > *:not(:last-child),
    :first-child {
      margin-bottom: $lg;
    }
  }

  .mb-space-vertical-xl {
    > *:not(:last-child),
    :first-child {
      margin-bottom: $xl;
    }
  }
}

// height
.height-xs {
  min-height: $sm * 10;
  height: $sm * 10;
}

.height-sm {
  min-height: $sm * 10;
  height: $sm * 10;
}

.height-md {
  min-height: $md * 10;
  height: $md * 10;
}

.height-lg {
  min-height: $lg * 10;
  height: $lg * 10;
}

.height-xl {
  min-height: $xl * 10;
  height: $xl * 10;
}

// width
.width-xs {
  min-width: $sm * 10;
  width: $sm * 10;
}

.width-sm {
  min-width: $sm * 10;
  width: $sm * 10;
}

.width-md {
  min-width: $md * 10;
  width: $md * 10;
}

.width-lg {
  min-width: $lg * 10;
  width: $lg * 10;
}

.width-xl {
  min-width: $xl * 10;
  width: $xl * 10;
}
