// colors
.color-white {
  color: $white;
}

.color-gray-light {
  color: $graylight;
}

.color-gray-medium {
  color: $graymedium;
}

.color-gray-dark {
  color: $graydark;
}

.color-black {
  color: $black;
}

.color-primary {
  color: $primary;
}

.color-secondary {
  color: $secondary;
}

// .color-tertiary {
//   color: $tertiary;
// }

.background-primary {
  background-color: $primary;
}

.background-secondary {
  background-color: $secondary;
}

.background-facebook {
  background-color: #3b5998;
}

.background-twitter {
  background-color: #00aced;
}

.background-whatsapp {
  background-color: #25d366;
}

.background-pinterest {
  background-color: #e60023;
}

.background-spotify {
  background-color: #1db954;
}

// .background-tertiary{
//   background-color: $tertiary;
// }

.background-white {
  background-color: white;
}

.background-black {
  background-color: black;
}

.background-gray {
  color: $graymedium;
}

.color-link {
  color: #2196f3;
}

.no-select,
label {
  user-select: none;
}

// margin
.margin-right-sm {
  margin-right: $baseSize;
}

.margin-right-md {
  margin-right: $baseSize * 2;
}

.margin-right-lg {
  margin-right: $baseSize * 3;
}

.margin-left-sm {
  margin-left: $baseSize;
}

.margin-left-md {
  margin-left: $baseSize * 2;
}

.margin-left-lg {
  margin-left: $baseSize * 3;
}

.margin-bottom-sm {
  margin-bottom: $gutter / 2;
}

.margin-bottom-md {
  margin-bottom: $gutter;
}

.margin-bottom-lg {
  margin-bottom: $gutter * 2;
}

.margin-top-sm {
  margin-top: $baseSize;
}

.margin-top-md {
  margin-top: $baseSize * 2;
}

.margin-top-lg {
  margin-top: $baseSize * 3;
}

.margin-bottom {
  > *:not(:last-child) {
    margin-bottom: $gutter;
  }
  margin-bottom: $gutter;
}

// padding
.padding-sm {
  padding: $baseSize;
}

.padding-md {
  padding: $baseSize * 2;
}

.padding-lg {
  padding: $baseSize * 3;
}

.padding-vertical-sm {
  padding: $baseSize 0;
}

.padding-vertical-md {
  padding: $baseSize * 2 0;
}

.padding-vertical-lg {
  padding: $baseSize * 3 0;
}

.padding-horizontal-sm {
  padding: 0 $baseSize;
}

.padding-horizontal-md {
  padding: 0 $baseSize * 2;
}

.padding-horizontal-lg {
  padding: 0 $baseSize * 3;
}

// space
.space-horizontal-sm {
  > *:not(:last-child) {
    margin-right: $baseSize;
  }
}

.space-horizontal-md {
  > *:not(:last-child) {
    margin-right: $baseSize * 2;
  }
}

.space-horizontal-lg {
  > *:not(:last-child) {
    margin-right: $baseSize * 3;
  }
}

.space-vertical-sm {
  > *:not(:last-child) {
    margin-bottom: $gutter;
  }
}

.space-vertical-md {
  > *:not(:last-child) {
    margin-bottom: $gutter * 2;
  }
}

.space-vertical-lg {
  > *:not(:last-child) {
    margin-bottom: $gutter * 3;
  }
}

@media (max-width: $lg) {
  .mb-space-horizontal-0 {
    > *:not(:last-child) {
      margin-right: 0;
    }
  }

  .mb-space-vertical-sm {
    > *:not(:last-child),
    :first-child {
      margin-bottom: $gutter;
    }
  }

  .mb-space-vertical-md {
    > *:not(:last-child),
    :first-child {
      margin-bottom: $gutter * 2;
    }
  }

  .mb-space-vertical-lg {
    > *:not(:last-child),
    :first-child {
      margin-bottom: $gutter * 3;
    }
  }
}

// border
.border {
  border: 0.1rem solid $graylight;
}

.border-bottom {
  > *:not(:last-child) {
    border-bottom: 0.1rem solid $graylight;
    padding-bottom: $gutter;
    margin-bottom: $gutter;
  }
  > *:first-child {
    border-bottom: 0.1rem solid $graylight;
  }
}

// header height
.height-sm {
  min-height: 7rem;
  height: 7rem;
}

.height-md {
  min-height: 14rem;
  height: 14rem;
}

.height-lg {
  min-height: 21rem;
  height: 21rem;
}

.width-sm {
  min-width: 7rem;
  width: 7rem;
}

.width-md {
  min-width: 14rem;
  width: 14rem;
}

.width-lg {
  min-width: 21rem;
  width: 21rem;
}

// line-height
.line-height-sm {
  line-height: 1;
}

.line-height-md {
  line-height: 1.7;
}

.line-height-lg {
  line-height: 3.1;
}

// font-size
.font-size-9 {
  font-size: 0.9rem;
}

.font-size-10 {
  font-size: 1rem;
}

.font-size-11 {
  font-size: 1.1rem;
}

.font-size-12 {
  font-size: 1.2rem;
}

.font-size-13 {
  font-size: 1.3rem;
}

.font-size-14 {
  font-size: 1.4rem;
}

.font-size-15 {
  font-size: 1.5rem;
}

.font-size-16 {
  font-size: 1.6rem;
}

.font-size-17 {
  font-size: 1.7rem;
}

.font-size-18 {
  font-size: 1.8rem;
}

.font-size-20 {
  font-size: 2rem;
}

.font-size-24 {
  font-size: 2.4rem;
}

.font-size-32 {
  font-size: 3.2rem;
}

.font-size-40 {
  font-size: 4rem;
}

.font-size-48 {
  font-size: 4.8rem;
}

.font-size-64 {
  font-size: 6.4rem;
}

@media (max-width: $lg) {
  .md-font-size-14 {
    font-size: 1.4rem;
  }

  .md-font-size-15 {
    font-size: 1.5rem;
  }

  .md-font-size-16 {
    font-size: 1.6rem;
  }

  .md-font-size-17 {
    font-size: 1.7rem;
  }

  .md-font-size-18 {
    font-size: 1.8rem;
  }

  .md-font-size-20 {
    font-size: 2rem;
  }

  .md-font-size-24 {
    font-size: 2.4rem;
  }
}

@media (max-width: $sm) {
  .sm-font-size-10 {
    font-size: 1rem;
  }

  .sm-font-size-11 {
    font-size: 1.1rem;
  }

  .sm-font-size-12 {
    font-size: 1.2rem;
  }

  .sm-font-size-13 {
    font-size: 1.3rem;
  }

  .sm-font-size-14 {
    font-size: 1.4rem;
  }
}

.italic {
  font-style: italic;
}

// font-weight
// light
.font-weight-300 {
  font-weight: 300;
}

// medium
.font-weight-500 {
  font-weight: 500;
}

// semi-bold
.font-weight-600 {
  font-weight: 600;
}

// bold
.font-weight-700 {
  font-weight: 700;
}

// extra-bold
.font-weight-800 {
  font-weight: 800;
}

// black
.font-weight-900 {
  font-weight: 900;
}

// text-align
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

// white-space
.text-nowrap {
  white-space: nowrap;
}

// border-radius
.radius-sm {
  border-radius: 0.2rem;
}

.radius-md {
  border-radius: 0.4rem;
}

.radius-lg {
  border-radius: 0.8rem;
}

.radius-max {
  border-radius: 5rem;
}

.radius-circle {
  border-radius: 50%;
}

// shadow
.shadow {
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.06);
  overflow: hidden;
}

//width-full
.width-full {
  width: 100%;
}

.height-full {
  height: 100%;
}

// disable
.disable {
  pointer-events: none;
  opacity: 0.5;
}

// display none
.display-none {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

@if $responsive==true {
  // MEDIA
  @media (max-width: $lg) {
    .mb-hide {
      display: none;
    }
  }

  @media screen and (min-width: $lg) {
    .ds-hide {
      display: none;
    }
  }
}

.full-link {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.center-horizontal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.margin-auto {
  margin: 0 auto;
}

.cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $graylight;
  background-position: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  z-index: 1;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.top-0 {
  top: 0;
}

.fixed {
  position: fixed;
  z-index: 11;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.table {
  display: table;
}

.responsive-image {
  max-width: 100%;
}

.media-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
  background-color: $graylight;

  &.vertical {
    width: auto;
    height: 100%;
    padding-bottom: unset;
    img {
      height: 100%;
      width: auto;
    }
  }

  img,
  video,
  iframe {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.line-camp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-2 {
  -webkit-line-clamp: 2;
}

.line-3 {
  -webkit-line-clamp: 3;
}

.line-1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inherit;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}

.overflow-hidden {
  overflow: hidden;
}
