$responsive: true;
$font: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
$outer-margin: 2rem;
$container-padding: 1.6rem;
$container-padding-mobile: 1.6rem;
$container-width: 120rem;
$gutter: 2.1rem;
$gutter-width: $gutter/2;
$gutter-sm: 1.2rem;
$gutter-width-sm: $gutter-sm/2;
$container: ($container-width + ($container-padding * 2));
$sm: 320px;
$md: 768px;
$lg: 1232px;
$facebook: #3b5998;
$twitter: #00aced;
$whatsapp: #25d366;
$pinterest: #e60023;
$spotify: #1db954;
$white: #fff;
$black: #000;
$primary: #111;
$secondary: #222;
$tertiary: #333;
$graylight: #eee;
$graymedium: #9e9e9e;
$graydark: #757575;
$baseSize: 0.7rem;
