$responsive: false;
$outer-margin: 2rem;
$container-padding: 1.6rem;
$container-padding-mobile: 1.6rem;
$container-width: 120rem;
$gutter: 1.2rem;
$gutter-width: $gutter/2;
$gutter-sm: .4rem;
$gutter-width-sm: $gutter-sm/2;
$container: ($container-width+($container-padding*2));
$xs: 32rem;
$md: 76.8rem;
$lg: 102.4rem;
$facebook: #3b5998;
$twitter: #00aced;
$google: #dd4b39;
$white: #fff;
$black: #000;
$primary: #111;
$secondary: #222;
$graylight: #BDBDBD;
$graymedium: #9e9e9e;
$graydark: #757575;
$baseSize: .4rem;