.button {
  height: 3.6rem;
  line-height: 3.6rem;
  padding: 0 2.4rem;
  opacity: 1;
  transition: opacity 0.3s;

  &.button-small {
    height: 2.4rem;
    line-height: 2.4rem;
    padding: 0 2.4rem;
  }

  &.button-large {
    height: 4.8rem;
    line-height: 4.8rem;
    padding: 0 4.8rem;
  }

  .button-hover {
    &:hover {
      opacity: 0.9;
    }
  }
}
