.dropdown {
  z-index: 99999;
  &:hover {
    display: block;
  }
}

.dropdown-select {
  background-color: $white;
  max-height: 24rem;
  min-width: 12rem;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border: solid 0px #fff;
    border-radius: 0;
  }

  &::-webkit-scrollbar-track {
    background-color: #ccc;
    border: solid 7px #e4e4e4;
    border-radius: 0;
  }
}

.dropdown-item {
  transition: background-color 0.3s;

  &:hover {
    background-color: $graylight;
  }
}
