.dropdown {


  &:hover {
    .dropdown-select {
      display: block;
      background-color: $white;
    }
  }

  .dropdown-item {
    transition: background-color .3s;

    &:hover {
      background-color: $graymedium;
    }
  }

}