@media(max-width:$media-lg){
  .scroll-main {
    overflow: hidden;
    width: 100%;
  }
  
  .scroll-wrapper {
    overflow-x: scroll;
    width: 100%;
    -webkit-overflow-scrolling: touch;
  
    >div {
      min-width: $container/1.2;
    }
  }
}