// 100	Thin (Hairline)
// 200	Extra Light (Ultra Light)
// 300	Light
// 400	Normal
// 500	Medium
// 600	Semi Bold (Demi Bold)
// 700	Bold
// 800	Extra Bold (Ultra Bold)
// 900	Black (Heavy)

// @font-face {
//   font-family: 'ClanOT';
//   font-weight: 400;
//   src: url('../font/ClanOT-CondNews.woff2') format('woff2'), 
//   url('../font/ClanOT-CondNews.ttf') format('truetype'), 
//   url('../font/ClanOT-CondNews.woff') format('woff'), 
//   url('../font/ClanOT-CondNews.svg#ClanOT') format('svg');
//   font-style: normal;
//   display: swap;
// }