@font-face {
  font-family: "icon";
  src: url('../font/icon.eot');
  src: url('../font/icon.eot?#iefix') format('eot'), url('../font/icon.woff2') format('woff2'), url('../font/icon.woff') format('woff'), url('../font/icon.ttf') format('truetype'), url('../font/icon.svg#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: "icon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function icon-char($filename) {
  $char: "";
  @if $filename==arrow-back-ios {
      $char: "\E001";
    }
    @if $filename==arrow-back {
      $char: "\E002";
    }
    @if $filename==arrow-down-keyboard {
      $char: "\E003";
    }
    @if $filename==arrow-drop-down {
      $char: "\E004";
    }
    @if $filename==arrow-forward-ios {
      $char: "\E005";
    }
    @if $filename==arrow-forward {
      $char: "\E006";
    }
    @if $filename==arrow-left-alt {
      $char: "\E007";
    }
    @if $filename==arrow-left {
      $char: "\E008";
    }
    @if $filename==arrow-right-alt {
      $char: "\E009";
    }
    @if $filename==arrow-right {
      $char: "\E00A";
    }
    @if $filename==facebook {
      $char: "\E00B";
    }
    @if $filename==instagram {
      $char: "\E00C";
    }
    @if $filename==twitter {
      $char: "\E00D";
    }
    @if $filename==whatsapp {
      $char: "\E00E";
    }
    @if $filename==youtube {
      $char: "\E00F";
    }
    @return $char;
}

@mixin icon($filename) {
  &:before {
    content: icon-char($filename);
  }
}

.icon-arrow-back-ios {
    @include icon(arrow-back-ios);
  }
  .icon-arrow-back {
    @include icon(arrow-back);
  }
  .icon-arrow-down-keyboard {
    @include icon(arrow-down-keyboard);
  }
  .icon-arrow-drop-down {
    @include icon(arrow-drop-down);
  }
  .icon-arrow-forward-ios {
    @include icon(arrow-forward-ios);
  }
  .icon-arrow-forward {
    @include icon(arrow-forward);
  }
  .icon-arrow-left-alt {
    @include icon(arrow-left-alt);
  }
  .icon-arrow-left {
    @include icon(arrow-left);
  }
  .icon-arrow-right-alt {
    @include icon(arrow-right-alt);
  }
  .icon-arrow-right {
    @include icon(arrow-right);
  }
  .icon-facebook {
    @include icon(facebook);
  }
  .icon-instagram {
    @include icon(instagram);
  }
  .icon-twitter {
    @include icon(twitter);
  }
  .icon-whatsapp {
    @include icon(whatsapp);
  }
  .icon-youtube {
    @include icon(youtube);
  }
  