@font-face {
  font-family: "<%= fontName %>";
  src: url('<%= fontPath %><%= fontName %>.eot?v='+random(1000000));
  src: url('<%= fontPath %><%= fontName %>.eot?#iefix'+random(1000000)) format('eot'), url('<%= fontPath %><%= fontName %>.woff2?v='+random(1000000)) format('woff2'), url('<%= fontPath %><%= fontName %>.woff?v='+random(1000000)) format('woff'), url('<%= fontPath %><%= fontName %>.ttf?v='+random(1000000)) format('truetype'), url('<%= fontPath %><%= fontName %>.svg#icon'+random(1000000)) format('svg');
  font-weight: normal;
  font-style: normal;
}

.<%=cssClass%> {
  font-family: "<%= fontName %>" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function <%=cssClass%>-char($filename) {
  $char: "";
  <% _.each(glyphs,
  function(glyph) {
    %>@if $filename==<%=glyph.fileName %> {
      $char: "\<%= glyph.codePoint %>";
    }
    <%
  }
  );
  %>@return $char;
}

@mixin icon($filename) {
  &:before {
    content: icon-char($filename);
  }
}

<% _.each(glyphs,
function(glyph) {
  %>.icon-<%=glyph.fileName %> {
    @include icon(<%=glyph.fileName %>);
  }
  <%
}

);
%>